# Welcome to Day 2

### Topics

In [1]:
# 6. Strings
# 7. String(indexing, method)

####  Strings

In [137]:
# 1. Quotes
# single quotes and double quotes both can be used for string related activities.
print('India')

India

In [3]:
print("India")

India

In [4]:
print("She is Rahul's sister.")

She is Rahul's sister.

In [5]:
# triple quotes
'''these are used to make multiple line comments, sometimes these are called docstrings'''

'these are used to make multiple line comments, sometimes these are called docstrings'

In [7]:
# triple quotes can also be used to make multiple line strings
print('''name
roll number
College''')

name
roll number
College

In [9]:
# here triple quotes will act as a comment
'''this is a docstring'''
print('Nothing')

Nothing

In [10]:
# 2. Length of a string
name = 'Devayan'
print(len(name))

7

In [13]:
# 3. String Concatenation
# joining two strings together
string1 = 'William '
string2 = 'Sidis'
print(string1 + string2)
print(string1 * 3) # replication

William Sidis
William William William

In [19]:
# 4. String Comparison
# always index wise comparison
print(string1 > string2)
print(string1 == string2)
print('A' > 'Az')

True
False
False

In [21]:
# finding unicode values of different characters
# different emojis have different unicode values
print(ord('a'))
print(ord('z'))

97
122

In [27]:
# 5. Substrings-- in keyword
string3 = 'Abhijeet'
string4= 'jeet'
string5 = 'jeetu'
print(string4 in string3)
print(string5 in string3)

True
False

#### 7. String Methods

In [28]:
# 1. indexing
name = 'Devayan'
print(name[0])

D

In [136]:
print(name[len(name)]) # indexing goes from 0 to n-1

IndexError: string index out of range

In [31]:
print(name[len(name)-1])

n

In [32]:
# negative indexing
print(name[-1])

n

In [34]:
print(name[-len(name)]) # negative indexing goes from -1 to -7

D

In [37]:
# string slicing 
# very important
email = 'branch_year_number@nitkkr.ac.in'
email1 = 'mechanical_2019_114@nitkkr.ac.in'
print(email1[0:9])

mechanica

In [42]:
# slicing the roll number 
print(email1[16:19])

114

In [43]:
# steps
numbers = '0123456789'
# print all the even numbers
print(numbers[0:len(numbers)-1:2])

02468

In [44]:
# print all the odd numbers
print(numbers[1:len(numbers)-1:2])

1357

In [50]:
# string[starting point: end point: steps]  
# end point is excluded

# by default goes till the end
print(numbers[0:])

# fromm start to end
print(numbers[:])

# define only steps
print(numbers[::2])

0123456789
0123456789
02468

In [51]:
# reverse a string using slicing
print(numbers[::-1])

9876543210

In [52]:
word = 'World'
print(word[-4:3])

or

#### String Methods

In [68]:
str_1 = 'I LOVE INDIA.'

In [69]:
# 1. capitalizes the first word of the line and lowercase everything else
str_1.capitalize()

'I love india.'

In [70]:
# 2. count()
str_1.count('I')

3

In [75]:
# 3. endswith -- checks if a certain string ends with the given character.
# useful for checking ., counting number of sentences
str_1.endswith('.')

True

In [76]:
str_1.endswith(',')

False

In [81]:
# endswith(value, start, end)
str_1.endswith('A', 2, -2)

False

In [82]:
# 4. find()
# searches the string for a character/string and returns its index
str_1.find('O')

3

In [83]:
str_1.find('INDIA')

7

In [84]:
# find always finds first occurance
str_1.find('I')

0

In [85]:
# finding 2nd occurance of the string
str_1.find('I', 1, len(str_1)-1)

7

In [88]:
str_1.find('t')
# Homework -- rfind

-1

In [103]:
# 5.isalnum -- checks for alpha numeric strings
str_2 = 'Area51'
str_2.isalnum()
# there should no space, or any special characters

True

In [109]:
# 6. isalpha
str_3 = '6578093412'
str_4 = 'Manchester'
str_3.isalpha()
str_4.isalpha()

True

In [107]:
# 7. isdigit
str_3.isdigit()

True

In [111]:
# 8. islower()
str_5 = 'mumbai'
str_5.islower()

True

In [112]:
# 9. isupper
str_1.isupper()

True

In [113]:
# 10. lower() -- converts to lower
print(str_1.lower())

i love india.

In [114]:
# 11. upper()
print(str_2.upper())

AREA51

In [116]:
# 12. replace()
print(str_1.replace('INDIA','USA'))
print(str_2.replace('51','100'))

I LOVE USA.
Area100

In [131]:
# 13. split()
# important
# used when we take a list of characters as input
# converts strings into lists
hello = 'Hello, My name is Joe Rogan, I am a Podcaster, MMA fighter'
hello.split(',')

['Hello', ' My name is Joe Rogan', ' I am a Podcaster', ' MMA fighter']

In [135]:
# sql uses csv files to store data (comma separated values)
customer_1 = '12/12/2021,Harry,Iphone X,40000'
customer_1.split(',')

['12/12/2021', 'Harry', 'Iphone X', '40000']

In [130]:
# 14. strip()
# used for trimming white space(any character)
# important for data cleaning
name_1 = '         Suresh Mishra    '
print(name_1.strip())
name2 = '------Hemant-Mishra ------'
print(name2.strip('-'))
# hw -- study about rstrip(), lstrip()

Suresh Mishra
Hemant-Mishra

In [121]:
# 15. startswith()
str_2.startswith('Area')

True

In [123]:
# 16. swapcase()
print(str_1)
print(str_1.swapcase())

I LOVE INDIA.
i love india.