# Welcome to Day 1

In [1]:
# Topics
# 1. Some important Stuff(Why Python, Indentation, comments, print statement,input statement,\n,\t)
# 2. Basic Data Types
# 3. Operators

In [2]:
# Python,R, Julia
# Data Analytics -- Python + Libraries(Pandas, Matplotlib, Seaborn)
# Data Science -- Machine Learning(Scikit-learn, Keras, TensorFlow, Pytorch), 
# Web Development -- Flask, Django
# Game development -- PyGames(2d)

In [3]:
# Creater -- Guido Van Roussom(BDFL -- benevolent dictator for life) -- retired
# Zen of Python --
# https://www.python.org/dev/peps/pep-0020/

In [34]:
# 1. Indentation
# Python doesn't use brackets
# Ex.
def Sum(a,b):
    return a + b

print(Sum(13, 56))

69

In [36]:
# This is a comment
'''Doc strings, comment'''
print('I am a Dog')

I am a Dog

In [37]:
# Important 
# print Statement
print('I think Steve Jobs is the most important man of 21th century.')

I think Steve Jobs is the most important man of 21th century.

In [1]:
name = input() 
century = input() 
print(f'I think {name} is the most important man of {century} century.')

Changez Khan
12th
I think Changez Khan is the most important man of 12th century.

In [44]:
var = input()
print('I think {} is the greatest invention of all time by {}.'.format(var, 'Mohit'))

Train
I think Train is the greatest invention of all time by Mohit.

In [45]:
# linechange and tab
print('One\nTwo\nThree')

One
Two
Three

In [46]:
print('''I am Devayan Mishra
I will teach 
you python''')

I am Devayan Mishra
I will teach
you python

In [20]:
# tab is four spaces
print('One\tTwo\tThree')

One	Two	Three

In [23]:
b = 10.6
c = 'I am a String'
d = True
print(type(b),'\n',type(c),'\n',type(d))

<class 'float'>
 <class 'str'>
 <class 'bool'>

In [2]:
# Operators
# 2. Arithematic Operator
# addition
print(10+12)
# substraction
print(10.2 - 2.4)
# Multiplication
print(10*3)
# Division
print(22/7)
# Modulo
print(81%7)
# Floor Division
print(34//4)
# Power
print(3**6)

22
7.799999999999999
30
3.142857142857143
4
8
729

In [5]:
# 3. Relational Operator
# >, <, >=,<=  (I personally made a lot of mistake in this)
# ==, !=, difference between =, ==

In [6]:
12 > 13

False

In [7]:
12 < 13

True

In [8]:
12 >= 13

False

In [9]:
12 <= 13

True

In [10]:
12 == 13

False

In [11]:
12 != 13

True

In [14]:
# Example
age = int(input())
if age <= 18:
    print('Minor')
else:
    print('Adult')

222
Adult

In [15]:
# difference between = and ==

In [2]:
# 4. Logical Operator
# or, and, not

# A or B
# Any one of A or B is True then result will also be True

Maths = int(input('Maths:'))
Physics = int(input('Physics:'))
scholarship = False

if Maths > 70 or Physics > 70:
    scholarship = True

print(scholarship)

Maths:12
Physics:13
False

In [5]:
# A and B
# Both conditions A and B should be correct for reuslt to be True
Maths1 = int(input('Maths:'))
Physics1 = int(input('Physics:'))
scholarship1 = False

if Maths1 > 90 and Physics1 > 90:
    scholarship1 = True

print(scholarship1)

Maths:98
Physics:98
True

In [9]:
# not A
# reverses the condition
age = int(input())
Minor = True
if age > 18:
    print('Minor =', not(Minor))
else:
    print('Minor =',Minor)

12
Minor = True